<html>
<head>
    <title>Picboard - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset("css/css/font-awesome.css") }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
<style>
    .full{
        margin: 0;
        background-color: lightgray;
        padding: 10px;
    }
    .n-element{
        display: inline-block;
        list-style: none;
        margin-right: 50px;
    }
    .n-element:last-child{
        float: right;
    }
    #item-menu{
        color: black;
    }
    #item-menu:hover{
        text-decoration: none;
    }

@media (max-width: 480px) {
    .n-element{
        display: block;
        padding-top: 5px;
    }
    .n-element:last-child{
        float: none;
    }
}

</style>

<div class="full menu">
    <div class="the-nav">
        <nav>
            <ul class="my-nav">
                <li class="n-element"><a href="#" id="item-menu">Inicio</a></li>
                <li class="n-element"><a href="#" id="item-menu">Disponibles</a></li>
                <li class="n-element"><a href="{{ path("theIndex") }}" id="item-menu">Subir imagenes</a></li>
                <li class="n-element"><a href="{{ path("pic_logout") }}" id="item-menu">Salir</a></li>
            </ul>
        </nav>
    </div>
</div>

{% block content %}
{% endblock %}

</body>
</html>