<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Espacio Creativos - {% block title %}{% endblock %}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset("css/css/font-awesome.css") }}">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Warnes' rel='stylesheet' type='text/css'>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.js"></script>

</head>

<body>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .head {
        padding-top: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: solid black;
        transition: all .4s;
    }
    .head-fixed {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 100;
        box-shadow: 1px 1px 7px black;
    }
    #menu {
        font-size: 1.8em;
    }
    #social {
        float: right !important;
        margin-left: 10px;
        cursor: pointer;
        font-size: 1.8em;
    }
    .the-search {
        font-size: 1em;
    }
    #social-media {
        color: black;
    }
    #social-media:first-child {
        margin-right: 10px;
        font-size: 1em;
    }
    #menu {
        cursor: pointer;
    }
    .search {
        position: relative;
        width: 100%;
        margin-top: 10px;
        border-bottom: solid black;
        border-top: solid black;
        padding: 3px;
        display: none;
    }
    input {
        width: 100%;
    }
    .the-nav {
        position: fixed;
        top: 0;
        width: 20%;
        background-color: rgb(245, 245, 245);
        box-shadow: 1px 1px 10px darkgrey;
        margin-left: -70%;
        transition: all .4s;
        z-index: 999;
    }
    .open {
        margin-left: 0;
    }
    #close-menu {
        padding: 10px;
        flex: auto;
        float: right !important;
        cursor: pointer;
    }
    .my-input {
        margin-left: 15px;
        border: none;
        background-color: transparent;
    }
    .header {
        margin-top: 20px;
        width: 100%;
        height: 200px;
        background-image: url('https://secure.static.tumblr.com/b001cfd85b71700203bf5afe681512ea/yxuzc3d/NuHn37fs7/tumblr_static_tumblr_static_vuelo.jpg');
        background-size: cover;
        background-position: center center;
        z-index: 1;
    }
    .circle {
        margin-top: -50px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #FAC2B0;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: table;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        border: solid .7em white;
    }
    .circle h3 {
        display: table-cell;
        vertical-align: middle;
        font-weight: bolder;
        font-family: 'Slabo 27px', serif;
        font-size: 2em;
    }
    .header-center {
        height: 10px;
        background-color: #FAC2B0;
    }
    .header-footer {
        margin-top: 50px;
        text-align: center;
    }
    .header-footer h3 {
        font-weight: bold;
        padding-bottom: 3px;
        border-bottom: solid black;
        width: 40%;
        margin-right: auto;
        margin-left: auto;
        font-family: 'Fjalla One', sans-serif;
        color: black;
        font-weight: bolder;
    }
    .lineSeparator {
        height: 50px;
        background-color: black;
        width: 2px;
        margin-left: auto;
        margin-right: auto;
    }
    .cabecera {
        display: block;
    }
    .foot-element {
        background-color: black;
        color: white;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 1.5em;
        font-weight: bold;
    }
    .foot {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid black;
        border-top: solid black;
    }
    .separatorBottom {
        padding-bottom: 30px;
    }
@media (max-width: 770px) {
    .cabecera:not(#first) {
        display: none;
    }
    .the-nav {
        width: 65%;
    }
}
</style>

    <div class="head">
        <p id="the-head">
            <span id="menu" class="fa fa-bars"></span>
            <span id="social" class="fa fa-search the-search"></span>
            <a id="social-media" href="#"><span id="social" class="fa fa-instagram"></span></a>
            <a id="social-media" href="#"><span id="social" class="fa fa-twitter-square"></span></a>
            <a id="social-media" href="#"><span id="social" class="fa fa-facebook-square"></span></a>
        </p>
    </div>
    <div class="search">
        <form action="#">
            <input class="my-input" type="text" name="search" id="search" placeholder="Buscar">
        </form>
    </div>
    <nav>
        <div class="the-nav">
            <ul class="la-nav">
                <span id="close-menu" class="fa fa-times"></span>
                <li class="n-element"><a href="#">Inicio</a></li>
            </ul>
        </div>
    </nav>

    <div class="header"></div>
<div id="first" class="cabecera col-md-4 col-sm-4">
    <div class="header-center">
        <div class="circle"><h3>L</h3></div>
    </div>
    <div class="header-footer">
        <h3>LIFE STYLE</h3>
        <div class="lineSeparator"></div>
    </div>
</div>
<div class="cabecera col-md-4 col-sm-4">
    <div style="background-color: #CBFEFE" class="header-center">
        <div style="background-color: #CBFEFE" class="circle"><h3>L</h3></div>
    </div>
    <div class="header-footer">
        <h3>LIFE STYLE</h3>
        <div class="lineSeparator"></div>
    </div>
</div>
<div class="cabecera col-md-4 col-sm-4">
    <div style="background-color: #FCFCB1" class="header-center">
        <div style="background-color: #FCFCB1" class="circle"><h3>L</h3></div>
    </div>
    <div class="header-footer">
        <h3>LIFE STYLE</h3>
        <div class="lineSeparator"></div>
    </div>
</div>
{% block content %}
{% endblock %}

<script>
    $(function(){
        $(".the-search").click(function () {
            $(".search").slideToggle(200);
        });
        $("#menu").click(function () {
            $(".the-nav").toggleClass("open");
        });
        $("#close-menu").click(function () {
            $(".the-nav").toggleClass("open");
        });

        var height = $(".head").offset().top;
        $(window).scroll(function(){
            if($(window).scrollTop() > $(".head").innerHeight()) {
//                console.log("Revasando el limite");
                $(".head").addClass("head-fixed");
                $(".the-search").hide("slide");
            } else {
                $(".head").removeClass("head-fixed");
                $(".the-search").show("slide");
            }
        });
    })
</script>

<div class="separatorBottom"></div>
</body>
</html>
