<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Espacio Creativos - {% block title %}{% endblock %}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset("css/css/font-awesome.css") }}">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        display: none;
        padding-bottom: 50px;
    }
    .n-element{
        list-style: none;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .n-element:first-child{
        padding-top: 60px;
    }
    .full{
        width: 200px;
        margin-left: -250px;
        background-color: rgba(169, 123, 141, .8);
        z-index: 9999;
        box-shadow: 0 0 10px black;
        transition: all .6s;
        position: fixed;
    }
    .open{
        margin-left: 0;
    }
    #item-menu{
        color: white;
    }
    #close-menu{
        padding: 20px;
        font-size: 1.3em;
        float: right !important;
        color: white;
    }
    #open-menu{
        padding: 0px 20px 20px 20px;
        font-size: 2em;
        color: #B89400;

    }
    #search{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 2em;
        color: #B89400;
    }
    .openMenu{
        border-top: solid black;
        border-bottom: solid black;
        height: auto;
        position: fixed;
        width: 100%;
        z-index: 9998;
        background-color: white;
    }
    .openMenu a.social{
        font-size: 2em;
        color: #B89400;
        padding: 5px;
    }
    .openMenu a.social:first-child{
        margin-right: 50px;
    }
    .social{
        float: right !important;
    }
    form{
        display: inline-block;
        vertical-align: middle;
    }
    #search-input{
        width: 80%;
        margin-bottom: 10px;
    }
    .input{
        border: none;
        background: rgba(0, 0, 0, 0);
        border-right: solid #B89400;
    }
    .the-img{
        width: 100%;
    }
    .title-img{
        text-align: center;
        border-top: solid black;
        border-bottom: solid black;
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Fredoka One', cursive;
        font-size: 1.5em;
        margin-right: auto;
        margin-left: auto;

    }
    .slider-controls{
        display: none;
        position: absolute;
        top: 45%;
        vertical-align: middle;
        width: 100%;
    }
    #slider-right{
        margin-right: 33px;
        cursor: pointer;
    }
    #slider-left{
        cursor: pointer;
    }
    @media (max-width: 480px) {
        .openMenu a.social{
            padding-left: 2px;
        }
    }
</style>


<div class="full">
    <nav class="the-nav">
        <a href="#" id="close-menu"><i class="fa fa-chevron-left"></i></a>
        <ul class="my-nav">
            <li class="n-element"><a href="#" id="item-menu">Inicio</a></li>
            <li class="n-element"><a href="#" id="item-menu">Blog</a></li>
            <li class="n-element"><a href="#" id="item-menu">Laura</a></li>
            <li class="n-element"><a href="#" id="item-menu">Tienda</a></li>
        </ul>
    </nav>
</div>

<div class="openMenu">
    <a href="#" id="open-menu"><i class="fa fa-bars"></i></a>
    <div class="social">
        <a class="social" href="#" title="Facebook"><i class="fa fa-facebook-square"></i></a>
        <a class="social" href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a class="social" href="#" title="Twitter"><i class="fa fa-twitter-square"></i></a>
    </div>
</div>

<div class="col-md-12 no-float center-block slider-container" style="padding-top:60px">
    {% for last in relevantes %}
    <div style="display: block;" class="col-md-4 slider">
        <div style="position: relative; display: inline-block; text-align: center;" class="col-md-10 the-img">
            <img style="background-image: url('{{ asset('/pictures/'~last.bannerId.path) }}');
            background-size: cover;
            background-position: center center;
            position: relative;"
            class="img-responsive portrait"
            src="{{ asset("/Resources/hexagono.png") }}" alt="">
            <p class="title-img">{{ last.title }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="slider-controls">
        <div class="shit">
    <span class="pull-left glyphicon glyphicon-menu-left" id="slider-left"></span>
    <span class="pull-right glyphicon glyphicon-menu-right" id="slider-right"></span>
        </div>
    </div>
</div>


{% block content %}
{% endblock %}

<script>
    $(document).ready(function () {

        $("body").fadeIn(1200);
        open = $("#open-menu");
        close = $("#close-menu");
        menu = $(".full");
        search = $("#search");

        searchHide();
        makeSlider();

        $("#slider-right").click(function(){
            sliderRight();
        });
        $("#slider-left").click(function(){
            sliderLeft();
        });


        open.click(function (e) {
            e.preventDefault();
            openAndCloseMenu();
        });

        close.click(function (e) {
            e.preventDefault();
            openAndCloseMenu();
        });

        /*
         $(window).resize(function () {
         var ancho = widthWindow()

         if(ancho < 480) {
         console.log(ancho);
         $("#search-input").hide(200);
         }else{
         console.log(ancho);
         $("#search-input").show(200);
         }
         });
         */

        function widthWindow (){
            return $(window).innerWidth();
        }

        function openAndCloseMenu(){

            if(menu.hasClass("open")){
                menu.removeClass("open");
            }else{
                menu.addClass("open");
            }
        }


        function searchHide(){
            var ancho = widthWindow()

            if(ancho < 480) {
                //console.log(ancho);
                $("#search-input").hide(200);
            }else{
                //console.log(ancho);
                $("#search-input").show(200);
            }
        }


        function agentClickOrNot() {
            search.click(function (e) {
                e.preventDefault()

                if ($(".social").is(":visible")) {
                    $(".social").hide();
                    $("#search-input").show(200);
                } else {
                    $(".social").show();
                    $("#search-input").hide(200);
                }
            });
        }

        function makeSlider() {
            //console.log(widthWindow());

            if(widthWindow() < 965){
                //console.log(widthWindow());
                //$(".the-img").css("position", "absolute");
                $(".the-img").css("text-align", "center");
                $(".the-img").css("left", "0s");
                $(".slider:first-child").addClass("slider-active");
                $(".slider-controls").fadeIn();

                $(".portrait").css("position", "relative");

                total = $(".the-img").size();

                $(".the-img").each(function(index, img){
                    if(index >= 1){
                        $(img).css("display", "none");
                    }
                });

            }else{
                $(".the-img").css("position", "relative");
                $(".the-img").css("display", "inline-block");
                $(".portrait").css("position", "relative");
                $(".slider").css("display", "block")
                $(".slider-controls").css("display", "none");

            }
        }


        function sliderRight(){
            sliderSize = $(".slider").size();
            console.log(sliderSize);

            $(".slider-container").find(".slider").each(function(index, value){
                if($(value).hasClass("slider-active")) {
                    $(value).hide();
                    $(value).removeClass("slider-active");

                    if((index+1) < sliderSize){
                        $($(".slider-container")
                                .find(".slider").find(".the-img").get(index+1)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(index+1)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(index+1)).addClass("slider-active");
                        return false;
                    }else{
                        $($(".slider-container")
                                .find(".slider").find(".the-img").get(0)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(0)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(0)).addClass("slider-active");
                        return false;
                    }

                }else{
                    console.log("No tiene clase slider-active " + index);
                }
            });
        }

        function sliderLeft(){
            sliderSize = $(".slider").size();
            console.log(sliderSize);

            $(".slider-container").find(".slider").each(function(index, value){
                if($(value).hasClass("slider-active")) {
                    $(value).hide();
                    $(value).removeClass("slider-active");

                    if(index == 0){
                        $($(".slider-container")
                                .find(".slider").find(".the-img").get(sliderSize-1)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(sliderSize-1)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(sliderSize-1)).addClass("slider-active");
                        return false;
                    }else{
                        $($(".slider-container")
                                .find(".slider").find(".the-img").get(index-1)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(index-1)).fadeIn(600);
                        $($(".slider-container")
                                .find(".slider").get(index-1)).addClass("slider-active");
                        return false;
                    }

                }else{
                    console.log("No tiene clase slider-active " + index);
                }
            });
        }

        $(window).resize(function () {
            makeSlider();
        });
    });
</script>

</body>
</html>

