<html>
    <head>
        <title>Picboard - Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>

<body>

    <div class="row">
        <div class="large-8 columns"></div>
    </div>

</body>
</html>